.PipelineComponent {
    width: 60vw;
    padding: 20px 30px 20px 30px;
    margin: 5px 0px 5px 0px;
    border-radius: 25px;
    border: 2px solid #3366FF;
}

.TokenizerDropDowns {
    width: 260px;
    margin-right: 30px;
    margin-bottom: 15px;
}

.lexicalSyntacticFeaturizerFormGroup {
    height: 100px;
    width: 55vw;
    margin-top: 15px;
    margin-left: 10px;
}

.spacyEntityExtractorFormGroup {
    height: 50px;
    width: 45vw;
    margin-top: 15px;
    margin-left: 10px;
}